<%- include('./layout/header.ejs')-%>
<% currentPage = 'Category' %>
    <div class="container-scroller">
      <!-- partial:partials/_sidebar.html -->
    <%- include('./layout/sideBar.ejs') -%>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.html -->
        
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
           
            <div class="row">
             
              <div class="col-md-5 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex flex-row justify-content-between">
                      <h4 class="card-title mb-1">Catagory</h4>
                      <p class="text-muted mb-1"></p>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <div class="preview-list">
                          <!---->
                         
          <form class="forms-sample" action="/admin/addCategory" method="post">
            <div class="form-group">
              <label for="exampleInputUsername1"></label>
              <input type="text" class="form-control" id="catagoryNameInput" placeholder="Catagory name" name="categoryName" >
            </div>
            <% if (errors) { %>
              <p style="color: tomato;"><%= errors.error %></p>
            <% } %>
           
            <button type="submit" class="btn btn-primary mr-2">Save</button>
            <button  type="button" class="btn btn-dark" id="cancelBtn">Cancel</button>
          </form>
                          
                            
                               
                               
            
                         <!---->

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
           
           


          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
         
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
      document.addEventListener("DOMContentLoaded", function() {
          const cancelBtn = document.getElementById("cancelBtn");
          cancelBtn.addEventListener("click", function() {
              window.location.href = "/admin/catagory"; 
          });
      });

  </script>
 

    <%- include('./layout/footer.ejs')-%>