/* Price slider styles */
.price-slider {
    position: relative;
    height: 40px;
    margin: 10px 0;
}

.price-slider input[type="range"] {
    position: absolute;
    pointer-events: none;
    -webkit-appearance: none;
    width: 100%;
    height: 2px;
    background: transparent;
    outline: none;
}