 <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="admin/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="admin/assets/vendors/chart.js/Chart.min.js"></script>
    <script src="admin/assets/vendors/progressbar.js/progressbar.min.js"></script>
    <script src="admin/assets/vendors/jvectormap/jquery-jvectormap.min.js"></script>
    <script src="admin/assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="admin/assets/vendors/owl-carousel-2/owl.carousel.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="admin/assets/js/off-canvas.js"></script>
    <script src="admin/assets/js/hoverable-collapse.js"></script>
    <script src="admin/assets/js/misc.js"></script>
    <script src="admin/assets/js/settings.js"></script>
    <script src="admin/assets/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="admin/assets/js/dashboard.js"></script>
    <!-- End custom js for this page -->


<!-- Bootstrap JS (loaded over HTTPS) -->
<script src="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js" integrity="sha512-cMD9oqLt9v8KZ2w0x4LzwMz/e2r2h+4r3n7lyYfMQLTQpRU1CDq1Wa/3HHf9ztsuMD41r/NAL6KPMYamfKJd6A==" crossorigin="anonymous"></script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script>
  const successMessage = <%- JSON.stringify((typeof successMessage !=='undefined' && successMessage[0]) || null) %>;
  const errorMessage = <%- JSON.stringify((typeof errorMessage !=='undefined' && errorMessage[0]) || null) %>;
  if (successMessage) {
    console.log("entered inside the if  sucess ")
    Toastify({
      text: successMessage,
      duration: 3000,
      gravity: "top",
      position: "right",
      backgroundColor: "green",
      close: true
    }).showToast();
  }

  if (errorMessage) {
    console.log("entered inside the if  failed ")

    Toastify({
      text: errorMessage,
      duration: 3000,
      gravity: "top",
      position: "right",
      backgroundColor: "red",
      close: true
    }).showToast();
  }

</script>

  </body>

</html>